<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".settings.Settings"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Link22" />
        <activity
            android:name=".timeline.Timeline"
            android:exported="false"
            android:label="@string/title_activity_timeline"
            android:theme="@style/Theme.Link22" />
    </application>

</manifest>